
    <div class="call cell">
        <img src="img/SP10-website-IVR-phone-icon-transparent-background.png" alt="Icon Call">
        <p>
            <span>Call</span>
            <br> T: 123-456-7890
            <br> F: 123-456-7890</p>
    </div>
    <div class="contact cell">
        <img src="img/mail-1454731_640.png" alt="Icon Mail">
        <p>
            <span>Contact</span>
            <br>info@mysite.com</p>
    </div>
    <div class="follow cell">
        <img src="img/add_blue.png" alt="Icon Add">
        <p>
            <span>Follow Me</span>
            <br>
            <i class="fa fa-facebook fa-1x"></i>
            <i class="fa fa-twitter fa-1x"></i>
            <i class="fa fa-google-plus fa-1x"></i>
        </p>
    </div>
    <div class="copyright cell">
        <img src="img/160_F_167906440_nqNTVh4D4FPy72ANT5NHIft9OrGhQCm3.png" alt="Icon Call">
        <p>
            <span>&copy;</span> Copyright by Nicola Rider
            <br> Proudly Created with
            <br> wix.com</p>
    </div>