
    <div class="container purple topBotomBordersIn">
        <nav>
            <h1>Sam Oun SONGHA</h1>
            <p>Wep Programmer / Art Director</p>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                </li>
                <li>
                    <a href="#">Resume</a>
                </li>
                </li>
                <li>
                    <a href="#">Contact </a>
                </li>
            </ul>
            <div class="clear"></div>
        </nav>
    </div>